apiVersion: v1
baseDomain: "{{ sno_prep_dns.base_domain }}"

compute:
  - name: worker
    replicas: 0

controlPlane:
  name: master
  replicas: 1

metadata:
  name: "{{ sno_prep_box.clustername }}"

networking:
  networkType: {{ sno_prep_ocp_net.network_type }}
  clusterNetwork:
{% for n in sno_prep_ocp_net.cluster_network %}
    - cidr: {{ n.cidr }}
      hostPrefix: {{ n.host_prefix }}
{% endfor %}
  serviceNetwork:
{% for n in sno_prep_ocp_net.service_network %}
    - {{ n }}
{% endfor %}
  machineNetwork:
{% for n in sno_prep_ocp_net.machine_network %}
    - cidr: {{ n.cidr }}
{% endfor %}

platform:
  none: {}

bootstrapInPlace:
  installationDisk: {{ sno_prep_inst_device }}

pullSecret: '{{ _pullsecret | default(sno_prep_fake_pullsecret) }}'

sshKey: |
  {{ sno_prep_ssh_public_key }}
